@font-face {
  font-family: "iconfont"; /* Project id 3754970 */
  src: url('iconfont.woff2?t=1667983614707') format('woff2'),
       url('iconfont.woff?t=1667983614707') format('woff'),
       url('iconfont.ttf?t=1667983614707') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e618";
}

.icon-open:before {
  content: "\e6ca";
}

.icon-delete:before {
  content: "\e6b4";
}

.icon-blog:before {
  content: "\e600";
}

.icon-settings:before {
  content: "\e68b";
}

.icon-zhuanti:before {
  content: "\e6c9";
}

.icon-account:before {
  content: "\e60a";
}

.icon-password:before {
  content: "\e65d";
}

